---
layout: default
title: A Bon Blog
---

<!-- First Story, Primary Category -->
<div class="section">
  <div class="row feature category-1">
      {% for post in site.posts limit:1 %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post__thumbnail">
        <div class="thumbnail" style='background-image: url({{ site.url }}/images/{{ post.thumbnail }})'></div>
      </a>
      <div class="post__content">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post__title">{{ post.title }}</h1>
          <p class="post__description">{{ post.description }}</p>
        </a>
      </div>
      {% endfor %}
  </div>
</div>
<!--
Next Three Stories, Primary Category
Return and include " offset:1 "
-->
<div class="section">
  <div class="category-break category__1"><a href="{{ site.url | prepend: site.baseurl }}category/category1.html">Category 1</a></div>
  <div class="row recent category-1">
    {% for post in site.categories.category1 limit:3 %}
    <div class="third">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post__thumbnail">
        <div class="thumbnail" style='background-image: url({{ site.url }}/images/{{ post.thumbnail }})'></div>
      </a>
      <div class="post__content">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post__title">{{ post.title }}</h1>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Three Stories, Secondary Category -->
<div class="section">
  <div class="category-break category__2"><a href="{{ site.url | prepend: site.baseurl }}category/category2.html">Category 2</a></div>
  <div class="row recent category-2">
    {% for post in site.categories.category2 limit:3 %}
    <div class="third">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post__thumbnail">
        <div class="thumbnail" style='background-image: url({{ site.url }}/images/{{ post.thumbnail }})'></div>
      </a>
      <div class="post__content">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post__title">{{ post.title }}</h1>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
