.header
  background: black
  color: white
  height: 50px
  width: 100%
  padding: 10px
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  z-index: 2000

.header a
  color: white
  text-decoration: none
  font-weight: 300

.header .nav
  height: inherit
  width: 50px

.header .nav .icon
  background: white
  margin: 5px auto
  width: 45px;
  height: 40px;
