.content-wrap
  padding: 50px 0
  max-width: 1200px
  margin: auto
  display: flex
  flex-wrap: wrap
  border: solid 1px blue
.section
  width: 100%
  position: relative
.row
  background: #efefef
  margin: 15px 0
  display: flex
  flex-wrap: wrap
  height: 500px

.feature.category-1 .post__thumbnail
  width: 50%
  height: inherit

.feature.category-1 .post__content
  width: 50%
.feature.category-1 .post__thumbnail
  background: blue
  flex-grow: 1

.feature.category-1 .post__thumbnail .thumbnail
  height: inherit
  background-size: cover
  background-position: center center

.feature.category-1 .post__content
  background: #ffd400
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

.feature.category-1 .post__content a
  color: black
  text-decoration: none

.feature.category-1 .post__content .post__description
  font-size: 1.2rem
  font-family: $font-hind
  font-weight: 600
  max-width: 400px
  margin: auto

.feature.category-1 .post__content .post__title
  font-size: 3.5rem
  line-height: 4.2rem

.recent.category-1
  background: none
  border: solid 1px red
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .third
    max-width: 380px
    width: 100%
    background: #efefef
    padding: 10px

@media only screen and (max-width: 1023px)
  .feature.category-1
    height: 70vh
  .feature.category-1 .post__thumbnail, .post__content
    width: 100%
  .feature.category-1 .post__content
    position: relative
    min-height: 150px
    flex-grow: 1
  .feature.category-1 .post__content a
  .feature.category-1 .post__thumbnail
    flex-grow: 1
  .feature.category-1 .post__content .post__title
    font-size: 1.5rem
    line-height: 2rem
  .feature.category-1 .post__content .post__description
    font-size: 1rem
    line-height: 1.5rem
