.post__header
  text-align: center
  .post__title
    font-family: $font-hind
    font-size: 3.8rem
    max-width: 850px
    margin: auto
  .description
    font-family: $font-hind
    font-size: 1.2em
    font-weight: 600
    max-width: 450px
    margin: 20px auto
.post__image
  height: 100vh
  width: inherit
  background-size: cover
  background-position: center
.post__header, .post__body
  background: white
  padding: 10px
.post__body
  .wrap
    max-width: 850px
    margin: auto
