.post__header
  text-align: center
  background: white
  padding: 50px 15px
  .post__title
    max-width: 850px
    margin: auto
  .description
    max-width: 450px
    margin: 20px auto

.post__image
  height: 100vh
  width: inherit
  background-size: cover
  background-position: center
.post__body, .category__body
  background: white
  .wrap
    padding: 25px 15px
    max-width: 710px
    margin: auto
    .ingredients__container
      background: #f5f5f5
      padding: 20px 50px
      margin: 2.14rem 0
      .list__title
        max-width: 420px
        margin: 0 auto 1em auto
      ul
        list-style: none
        max-width: 420px
        margin: auto
        li
          padding-bottom: .3em
    a span
        margin-left: 15px

.category__body .wrap
  .result
    a
      text-decoration: none
      &:hover
        text-decoration: underline
    h3
      margin: 0
      padding: 0
      text-transform: none
    p.meta
      font-size: .8em
      margin: 0
      font-family: $font-hind
    p.post__description
      font-size: 1em
