@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Crimson+Text')
$font-hind: Hind, sans-serif
$font-crimson: Crimson Text, serif

body
  font-size: 14px
  @media only screen and (max-width: 1024px)
    font-size: 12px

h1
  font-family: $font-hind

p
  font-family: $font-crimson
